<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout">

<!--@thymesVar id="busInfo" type="training.busboard.web.APIBusBoard"-->

    <head>
        <title>Bus Information</title>
    </head>
    <body>
    <div layout:fragment="content" class="container body-content">
        <h2>Bus Information</h2>
        <div>
            <p> Buses near: <span th:text="${busInfo.postcode}"></span></p>
            <div th:each="busStop: ${busInfo.busStops}">
                <div th:text="${busStop.commonName}"> </div>
                <ol>
                    <li th:each="arrivalEvent: ${busStop.getArrivalEvents()}">
                        <p> Bus <span th:text="${arrivalEvent.lineId}"></span> to <span th:text="${arrivalEvent.destinationName}"></span>
                            is arriving at <span th:text="${arrivalEvent.expectedArrival.toString()}"></span> </p>

                    </li>
                </ol>
            </div>

        </div>
    </div>
    </body>
</html>